
.checkbox-design{
    display: flex;
    margin: 50px ;
    border-radius: 5px;
    padding: 70px 150px;
    width: 500px;
    background: whitesmoke;
}

.department-title{
    display: flex;
    width: 100%;
}

.sub-department{
    display: flex;
    margin: 0 20px !important;
    width: 100%;
}